spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/auth?createDatabaseIfNotExist=true
    username: root
    password: root
  application:
    name: authentication

  jpa:
    hibernate.ddl-auto: update
#    generate-ddl: true
#    show-sql: true

security:
  oauth2:
    client:
      enabled: false # DISABLES OAUTH2
      registration:
        google:
          client-secret: yourClientSecret # SET WITH YOUR GOOGLE CREDS
          client-id: yourClientId # SET WITH YOUR GOOGLE CREDS
          scope: openid,profile,email
        facebook:
          client-id: YOUR_FACEBOOK_CLIENT_ID
          client-secret: YOUR_FACEBOOK_CLIENT_SECRET
          scope:
            - email
            - public_profile
          redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
          client-name: Facebook
    resource-server:
      jwt:
        issuer-uri: https://accounts.google.com
        jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
redirect:
  after:
    login: /api/users/login/success
server:
  servlet:
    context-path: /api

jwt:
  expiration: 100000
  secret: mkwEeHcRmXKXN4swNAEck5afGy93KiQ3 #EXAMPLE

springdoc:
  swagger-ui:
    path: /swagger-ui.html